<tr id="<%= "order#{order_product.id}" %>">
  <td class="align-middle">
    <% if order_product.great_sale? %>
      <div class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="<%= t('.great_sale') %>">
        <%= fa_icon('smile-o') %>
      </div>
    <% else %>
      <div class="btn btn-outline-warning" data-toggle="tooltip" data-placement="left" title="<%= t('.not_great_sale') %>">
        <%= fa_icon('frown-o') %>
      </div>
    <% end %>
  </td>
  <td class="align-middle"><%= order_product.product.name %></td>
  <td class="align-middle"><%= order_product.units %></td>
  <td class="align-middle"><%= number_to_currency(order_product.unit_price) %></td>
  <td class="align-middle">
    <%= link_to edit_order_product_path(order_product), class: 'btn btn-outline-primary' do %>
      <%= fa_icon('pencil') %>
    <% end %>
    <%= link_to order_product_path(order_product, order_id: @order.id), class: 'btn btn-outline-danger', method: :delete do %>
      <%= fa_icon('trash') %>
    <% end %>
  </td>
</tr>
