<tr id="<%= "order#{order.id}" %>">
  <th class="align-middle" scope="row"><%= order.id %></th>
  <td class="align-middle"><%= order.customer.name %></td>
  <td class="align-middle"><%= order.order_products.count %></td>
  <td class="align-middle">
    <button type="button" class="btn btn-outline-primary">
      <%= fa_icon('pencil') %>
    </button>

    <%= link_to order_path(order), class: 'btn btn-outline-danger', method: :delete do %>
      <%= fa_icon('trash') %>
    <% end %>
  </td>
</tr>
