<%= form_for @order_product, url: order_product_index_path(order_id: order), method: :post do |f| %>
  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :product, html: {class: 'col-sm-2 col-form-label'} %>
    </div>
    <div class="col-6">
      <%= f.select :product_id, Product.order(:name).collect { |p| [ p.name, p.id ] }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :units, html: {class: 'col-sm-2 col-form-label'} %>
    </div>
    <div class="col-6">
      <%= f.number_field :units, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :unit_price, html: {class: 'col-sm-2 col-form-label'} %>
    </div>
    <div class="col-6">
      <%= f.number_field :unit_price, step: :any, class: 'form-control' %>
    </div>
  </div>

  <div class="col-12 text-center">
    <%= f.submit t('.add') %>
  </div>

  <div class="row">
    <table class="table table-striped table-borderless">
      <thead>
        <tr class="align-middle">
          <th scope="col"><%= OrderProduct.human_attribute_name(:name) %></th>
          <th scope="col"><%= OrderProduct.human_attribute_name(:units) %></th>
          <th scope="col"><%= OrderProduct.human_attribute_name(:unit_price) %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: 'order_product', collection: @order.order_products) %>
      </tbody>
    </table>
  </div>
<% end %>
