<div class="row">
  <div class="col-10">
    <h2>
      <%= t('.title') %>
    </h2>
  </div>
  <div class="col-2">
    <%= link_to root_path, class: 'btn btn-outline-primary' do %>
      <%= t('.back') %>
    <% end %>
  </div>
</div>

<hr class="line">

<%= form_for @new_order, url: orders_path, method: :post do |f| %>
  <%= render(partial: 'form', locals: { order: @new_order, f: f }) %>

  <div class="col-12 text-center">
    <%= f.submit t('.create'), class: 'btn btn-primary' %>
  </div>
<% end %>
