<div class="row">
  <div class="col-10">
    <h2>
      <%= t('.title') %>
    </h2>
  </div>
  <div class="col-2">
    <%= link_to edit_order_path(id: @order_product.order_id), class: 'btn btn-outline-primary' do %>
      <%= t('.back') %>
    <% end %>
  </div>
</div>

<hr class="line">

<%= form_for @order_product, url: order_product_path(@order_product), method: :patch do |f| %>
  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :product, class: 'col-form-label' %>
    </div>
    <div class="col-6">
      <%= f.select :product_id, Product.order(:name).collect { |p| [ p.name, p.id ] }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :units, class: 'col-form-label' %>
    </div>
    <div class="col-6">
      <%= f.number_field :units, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 text-right font-weight-bold">
      <%= f.label :unit_price, class: 'col-form-label' %>
    </div>
    <div class="col-6">
      <%= f.text_field :unit_price, step: :any, class: 'form-control js-currency' %>
    </div>
  </div>

  <div class="col-12 text-center">
    <%= f.submit t('.save') %>
  </div>
<% end %>
