<!DOCTYPE html>
<html>
  <head>
    <title>Chewie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <%= link_to 'Chewie Store', root_path, class: 'navbar-brand mx-md-auto' %>
    </nav>

    <%= yield %>
  </body>
</html>
